{
  "extends": ["airbnb-base", "typescript"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/indent": ["error", 2],
    "no-console": 0
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "directory": "./src"
      }
    }
  }
}